@charset "UTF-8";
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.hidden {
  display: none; }

.hide {
  opacity: 0; }

.display {
  opacity: 1 !important; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-extralight.eot");
  src: url("/fonts/sourcesanspro-extralight.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-extralight.woff") format('woff'), url("/fonts/sourcesanspro-extralight.ttf") format('truetype'), url("/fonts/sourcesanspro-extralight.svg#sourcesanspro") format('svg');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-extralightitalic.eot");
  src: url("/fonts/sourcesanspro-extralightitalic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-extralightitalic.woff") format('woff'), url("/fonts/sourcesanspro-extralightitalic.ttf") format('truetype'), url("/fonts/sourcesanspro-extralightitalic.svg#sourcesanspro") format('svg');
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-light.eot");
  src: url("/fonts/sourcesanspro-light.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-light.woff") format('woff'), url("/fonts/sourcesanspro-light.ttf") format('truetype'), url("/fonts/sourcesanspro-light.svg#sourcesanspro") format('svg');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-lightitalic.eot");
  src: url("/fonts/sourcesanspro-lightitalic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-lightitalic.woff") format('woff'), url("/fonts/sourcesanspro-lightitalic.ttf") format('truetype'), url("/fonts/sourcesanspro-lightitalic.svg#sourcesanspro") format('svg');
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-regular.eot");
  src: url("/fonts/sourcesanspro-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-regular.woff") format('woff'), url("/fonts/sourcesanspro-regular.ttf") format('truetype'), url("/fonts/sourcesanspro-regular.svg#sourcesanspro") format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-italic.eot");
  src: url("/fonts/sourcesanspro-italic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-italic.woff") format('woff'), url("/fonts/sourcesanspro-italic.ttf") format('truetype'), url("/fonts/sourcesanspro-italic.svg#sourcesanspro") format('svg');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-semibold.eot");
  src: url("/fonts/sourcesanspro-semibold.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-semibold.woff") format('woff'), url("/fonts/sourcesanspro-semibold.ttf") format('truetype'), url("/fonts/sourcesanspro-semibold.svg#sourcesanspro") format('svg');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-semibolditalic.eot");
  src: url("/fonts/sourcesanspro-semibolditalic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-semibolditalic.woff") format('woff'), url("/fonts/sourcesanspro-semibolditalic.ttf") format('truetype'), url("/fonts/sourcesanspro-semibolditalic.svg#sourcesanspro") format('svg');
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-bold.eot");
  src: url("/fonts/sourcesanspro-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-bold.woff") format('woff'), url("/fonts/sourcesanspro-bold.ttf") format('truetype'), url("/fonts/sourcesanspro-bold.svg#sourcesanspro") format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-bolditalic.eot");
  src: url("/fonts/sourcesanspro-bolditalic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-bolditalic.woff") format('woff'), url("/fonts/sourcesanspro-bolditalic.ttf") format('truetype'), url("/fonts/sourcesanspro-bolditalic.svg#sourcesanspro") format('svg');
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-black.eot");
  src: url("/fonts/sourcesanspro-black.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-black.woff") format('woff'), url("/fonts/sourcesanspro-black.ttf") format('truetype'), url("/fonts/sourcesanspro-black.svg#sourcesanspro") format('svg');
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "sourcesanspro";
  src: url("/fonts/sourcesanspro-blackitalic.eot");
  src: url("/fonts/sourcesanspro-blackitalic.eot?#iefix") format('embedded-opentype'), url("/fonts/sourcesanspro-blackitalic.woff") format('woff'), url("/fonts/sourcesanspro-blackitalic.ttf") format('truetype'), url("/fonts/sourcesanspro-blackitalic.svg#sourcesanspro") format('svg');
  font-weight: 900;
  font-style: italic; }

div {
  vertical-align: top; }

img {
  display: block; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1.43;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

select {
  -webkit-appearance: none; }

body {
  background-color: #ebebeb;
  color: #7f7f7f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "sourcesanspro", sans-serif;
  height: 100%; }

* {
  -webkit-transition: all .4s ease;
          transition: all .4s ease; }

.global-zeroclipboard-container {
  -webkit-transition: none;
          transition: none; }
  .global-zeroclipboard-container #global-zeroclipboard-flash-bridge {
    -webkit-transition: none;
            transition: none; }
  .global-zeroclipboard-container object {
    -webkit-transition: none;
            transition: none; }

img {
  height: auto;
  width: 100%; }

svg * {
  -webkit-transition: none;
          transition: none; }

*:focus {
  outline: none;
  box-shadow: 0; }

a {
  color: #78dbbe; }
  a:hover {
    color: #61b199; }

p {
  font-size: 0.8125rem;
  margin-bottom: 1rem;
  line-height: 1.33; }
  @media (min-width: 720px) {
    p {
      font-size: 1rem;
      line-height: 1.43; } }

li {
  line-height: 1.33; }
  @media (min-width: 720px) {
    li {
      line-height: 1.43; } }

ul {
  margin-bottom: 1rem; }

strong {
  font-weight: bold; }

.relative {
  position: relative; }

h1 {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.15; }
  @media (min-width: 720px) {
    h1 {
      font-size: 2.375rem;
      line-height: 1.25; } }
  h1.supertitle {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.15; }
    @media (min-width: 720px) {
      h1.supertitle {
        font-size: 2.75rem;
        line-height: 1.25; } }

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.15; }
  @media (min-width: 720px) {
    h2 {
      font-size: 2rem;
      line-height: 1.25; } }

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: .5rem 0; }

h4 {
  font-size: 1.125rem;
  font-weight: 300; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-webkit-keyframes rotation-negative {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-359deg); } }

@-webkit-keyframes tooltipAppear {
  0% {
    opacity: 0;
    display: none; }

  1% {
    display: block;
    opacity: 0;
    left: 3rem; }

  100% {
    opacity: 1;
    left: 2rem; } }

@keyframes tooltipAppear {
  0% {
    opacity: 0;
    display: none; }

  1% {
    display: block;
    opacity: 0;
    left: 3rem; }

  100% {
    opacity: 1;
    left: 2rem; } }

@-webkit-keyframes show {
  0% {
    opacity: 0;
    display: none; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0;
    display: none; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    display: block; }

  99% {
    opacity: 0;
    display: block; }

  100% {
    display: none; } }

@keyframes hide {
  0% {
    opacity: 1;
    display: block; }

  99% {
    opacity: 0;
    display: block; }

  100% {
    display: none; } }

.hide {
  display: none !important;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }

.visuallyHidden {
  opacity: 0 !important;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }

.show {
  -webkit-animation: show .4s linear;
          animation: show .4s linear;
  display: block !important; }

.center {
  margin: 0 auto;
  text-align: center; }

.hidden-input {
  display: none; }

.bold {
  font-weight: bold !important; }

.nopd {
  padding: 0 !important; }

hr {
  border-top: solid 1px #b1b1b1;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  margin: 1rem 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.dashboard-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative; }
  .dashboard-main .dashboard-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%; }

.login {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7f7f7f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%; }
  .login .login-body {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .login .login-body svg {
      fill: #fff;
      height: 70px;
      margin-bottom: 30px;
      width: 200px; }
    .login .login-body .login-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 320px; }
      .login .login-body .login-content .input-text, .login .login-body .login-content .input-select {
        background-color: transparent;
        border-color: #9e9e9e;
        color: #5e5e5e;
        font-size: 1.125rem; }
        .login .login-body .login-content .input-text:hover::-webkit-input-placeholder, .login .login-body .login-content .input-select:hover::-webkit-input-placeholder {
          color: #fff; }
        .login .login-body .login-content .input-text:hover:-moz-placeholder, .login .login-body .login-content .input-select:hover:-moz-placeholder {
          /* Firefox 18- */
          color: #fff; }
        .login .login-body .login-content .input-text:hover::-moz-placeholder, .login .login-body .login-content .input-select:hover::-moz-placeholder {
          /* Firefox 19+ */
          color: #fff; }
        .login .login-body .login-content .input-text:hover:-ms-input-placeholder, .login .login-body .login-content .input-select:hover:-ms-input-placeholder {
          color: #fff; }
        .login .login-body .login-content .input-text:focus, .login .login-body .login-content .input-select:focus {
          background-color: rgba(255, 255, 255, 0.3);
          border-color: #ebebeb; }
      .login .login-body .login-content .input-checkbox {
        margin: 20px 0; }
        .login .login-body .login-content .input-checkbox label {
          color: #b1b1b1; }
      .login .login-body .login-content .login-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 0.8125rem;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 15px; }

.btn-primary, .btn-success, .btn-gray, .btn-complete, .btn-transparent {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-transition: all .4s;
          transition: all .4s; }
  .btn-big.btn-primary, .btn-big.btn-success, .btn-big.btn-gray, .btn-big.btn-complete, .btn-big.btn-transparent {
    padding: 2rem 1rem; }
  .btn-noshr.btn-primary, .btn-noshr.btn-success, .btn-noshr.btn-gray, .btn-noshr.btn-complete, .btn-noshr.btn-transparent {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .btn-small.btn-primary, .btn-small.btn-success, .btn-small.btn-gray, .btn-small.btn-complete, .btn-small.btn-transparent {
    font-size: 0.875rem;
    padding: .7rem 1rem;
    line-height: 1.15; }

.btn-primary {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #78dbbe;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem; }
  .btn-primary:hover {
    background: #61b199;
    color: #fff; }

.btn-success {
  background: #b6dd75;
  color: #fff; }
  .btn-success:hover {
    background: #93b35e;
    color: #fff; }

.btn-gray {
  background: #9e9e9e;
  color: #7f7f7f; }
  .btn-gray:hover {
    background: #7f7f7f;
    color: #5e5e5e; }

.btn-complete {
  background: #a599c6;
  color: #fff; }
  .btn-complete:hover {
    background: #857ba0;
    color: #fff; }

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  color: #fff; }
  .btn-transparent:hover {
    background: #fff;
    color: #a599c6; }

.btn-large {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  max-width: 400px;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  width: 100%; }

.btn-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .btn-option a {
    margin-right: .5rem; }
    .btn-option a:last-child {
      margin-right: 0; }
  .btn-option.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .btn-option.column a {
      margin-bottom: .5rem; }
      .btn-option.column a:last-child {
        margin-bottom: 0; }
  .btn-option.mr-small {
    margin: 1rem 0; }
  .btn-option.btn-option-400 {
    margin: 0 auto;
    max-width: 400px; }
  .btn-option.mb {
    margin-bottom: .5rem; }

.btn-disabled {
  opacity: .5;
  pointer-events: none; }

.text-error {
  background-color: #cf6d5d;
  border-radius: 3px;
  color: #f5e1de;
  padding: 3px 6px; }

.text-success {
  background-color: #b6dd75;
  border-radius: 3px;
  color: #fff;
  padding: 3px 6px; }

.text-warning {
  background-color: #e6a16f;
  border-radius: 3px;
  color: #fff;
  padding: 3px 6px; }

.text-info {
  background-color: #a599c6;
  border-radius: 3px;
  color: #fff;
  padding: 3px 6px; }

ul.slider-dots {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  ul.slider-dots li {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    height: 12px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 6px;
    width: 12px; }
    ul.slider-dots li.current, ul.slider-dots li:hover {
      background-color: #fff; }
  ul.slider-dots.dots-purple li {
    border-color: #a599c6; }
    ul.slider-dots.dots-purple li.current, ul.slider-dots.dots-purple li:hover {
      background-color: #a599c6; }

.doted-list li {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0; }
  .doted-list li::before {
    background-color: #a599c6;
    border-radius: 50%;
    content: "";
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    height: 10px;
    margin-right: 6px;
    width: 10px; }
  .doted-list li.not-included {
    text-decoration: line-through; }

.tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .tags:last-child {
    margin-right: 0; }
  .tags .tag {
    background-color: #b1b1b1;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0 10px 10px 0;
    padding: 4px 8px;
    text-transform: uppercase; }
    .tags .tag:hover {
      background-color: #7f7f7f; }
    .tags .tag.tag-primary {
      background-color: #78dbbe;
      color: #fff; }
      .tags .tag.tag-primary:hover {
        background-color: #61b199; }
    .tags .tag.tag-green {
      background-color: #b6dd75;
      color: #fff; }
      .tags .tag.tag-green:hover {
        background-color: #93b35e; }
    .tags .tag.tag-purple {
      background-color: #a599c6;
      color: #fff; }
      .tags .tag.tag-purple:hover {
        background-color: #857ba0; }
    .tags .tag.tag-orange {
      background-color: #e6a16f;
      color: #fff; }
      .tags .tag.tag-orange:hover {
        background-color: #ba8259; }
    .tags .tag.tag-red {
      background-color: #cf6d5d;
      color: #fff; }
      .tags .tag.tag-red:hover {
        background-color: #a7584b; }

input, select {
  background-color: #fff;
  box-sizing: border-box;
  color: #9e9e9e;
  font-family: "sourcesanspro", sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  -moz-appearance: none; }

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
  margin-top: 1px 0 0; }

input:focus, select:focus, textarea:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  box-shadow: none;
  outline: none; }

.input-text, .input-select {
  border: none;
  border-bottom: 1px solid #ebebeb;
  box-shadow: none;
  outline: none;
  padding: 10px 20px 10px 10px; }
  .input-text::-webkit-input-placeholder, .input-select::-webkit-input-placeholder {
    -webkit-transition: all .3s ease;
            transition: all .3s ease; }
  .input-text:-moz-placeholder, .input-select:-moz-placeholder {
    /* Firefox 18- */
    transition: all .3s ease; }
  .input-text::-moz-placeholder, .input-select::-moz-placeholder {
    /* Firefox 19+ */
    transition: all .3s ease; }
  .input-text:-ms-input-placeholder, .input-select:-ms-input-placeholder {
    transition: all .3s ease; }
  .input-text:focus, .input-select:focus {
    border-color: #9e9e9e;
    box-shadow: none; }
    .input-text:focus::-webkit-input-placeholder, .input-select:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      -webkit-transition: all .3s ease;
              transition: all .3s ease; }
    .input-text:focus:-moz-placeholder, .input-select:focus:-moz-placeholder {
      /* Firefox 18- */
      opacity: 0;
      transform: translateY(-20px);
      transition: all .3s ease; }
    .input-text:focus::-moz-placeholder, .input-select:focus::-moz-placeholder {
      /* Firefox 19+ */
      opacity: 0;
      transform: translateY(-20px);
      transition: all .3s ease; }
    .input-text:focus:-ms-input-placeholder, .input-select:focus:-ms-input-placeholder {
      opacity: 0;
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
      transition: all .3s ease; }
  .input-text.success, .success.input-select {
    background-color: #f0f8e3;
    border-color: #b6dd75;
    color: #93b35e; }
  .input-text.invalid, .invalid.input-select {
    background-color: #f5e1de;
    border-color: #cf6d5d;
    color: #a7584b; }

.input-select {
  background-image: url("/assets/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 92% 48%;
  background-size: 10px;
  cursor: pointer; }

.input-radio, .input-checkbox {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0px; }
  .input-radio label, .input-checkbox label {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    font-size: 13px; }
    .input-radio label:before, .input-checkbox label:before {
      content: "";
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      box-shadow: inset 0 0 0 0 #b1b1b1;
      box-sizing: border-box; }
  .input-radio.column, .input-checkbox.column {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.input-radio label {
  margin-bottom: 6px; }
  .input-radio label:before {
    border-radius: 99px;
    -webkit-transition: box-shadow 0.2s linear 0s, color 0.2s linear 0s;
            transition: box-shadow 0.2s linear 0s, color 0.2s linear 0s; }
.input-radio input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #b1b1b1; }
.input-radio input[type=radio] {
  display: none; }
.input-radio input[type=radio][disabled] + label {
  opacity: 0.65; }

.input-radio.radio-success input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #b6dd75; }
.input-radio.radio-primary input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #78dbbe; }
.input-radio.radio-info input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #6b9ecc; }
.input-radio.radio-warning input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #e6a16f; }
.input-radio.radio-danger input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #cf6d5d; }
.input-radio.radio-complete input[type=radio]:checked + label:before {
  box-shadow: inset 0 0 0 5px #a599c6; }

.input-checkbox input[type=radio][disabled] + label:after {
  background-color: #ebebeb; }
.input-checkbox label {
  -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
          transition: border 0.2s linear 0s, color 0.2s linear 0s;
  white-space: nowrap;
  position: relative; }
  .input-checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
            transition: border 0.2s linear 0s, color 0.2s linear 0s; }
  .input-checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3.2px;
    top: 0px;
    font-size: 11px;
    -webkit-transition: border 0.2s linear 0s, color 0.2s linear 0s;
            transition: border 0.2s linear 0s, color 0.2s linear 0s; }
  .input-checkbox label:after {
    border-radius: 3px; }
.input-checkbox input[type=checkbox] {
  display: none; }
.input-checkbox.checkbox-circle label:after {
  border-radius: 99px; }
.input-checkbox.checkbox-circle label:before {
  border-radius: 99px; }
.input-checkbox input[type=checkbox]:checked + label:before {
  border-width: 10px; }
.input-checkbox input[type=checkbox]:checked + label::after {
  content: "✓";
  color: #fff;
  font-size: 16px; }
.input-checkbox input[type=checkbox][disabled] + label {
  opacity: 0.65; }
  .input-checkbox input[type=checkbox][disabled] + label:before {
    background-color: #eceff3; }
.input-checkbox.right label {
  margin-right: 35px;
  padding-left: 0 !important; }
  .input-checkbox.right label:before {
    right: -35px;
    left: auto; }
.input-checkbox.right input[type=checkbox]:checked + label {
  position: relative; }
  .input-checkbox.right input[type=checkbox]:checked + label::after {
    content: "✓";
    position: absolute;
    right: -27px;
    left: auto; }

.input-checkbox.check-success input[type=checkbox]:checked + label:before {
  border-color: #b6dd75; }
.input-checkbox.check-primary input[type=checkbox]:checked + label:before {
  border-color: #78dbbe; }
.input-checkbox.check-complete input[type=checkbox]:checked + label:before {
  border-color: #a599c6; }
.input-checkbox.check-warning input[type=checkbox]:checked + label:before {
  border-color: #e6a16f; }
.input-checkbox.check-danger input[type=checkbox]:checked + label:before {
  border-color: #cf6d5d; }
.input-checkbox.check-info input[type=checkbox]:checked + label:before {
  border-color: #6b9ecc; }
.input-checkbox.check-success input[type=checkbox]:checked + label::after, .input-checkbox.check-primary input[type=checkbox]:checked + label::after, .input-checkbox.check-complete input[type=checkbox]:checked + label::after, .input-checkbox.check-warning input[type=checkbox]:checked + label::after, .input-checkbox.check-danger input[type=checkbox]:checked + label::after, .input-checkbox.check-info input[type=checkbox]:checked + label::after {
  color: #fff; }

.main-bar {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9e9e9e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 5px 15px;
  z-index: 10; }
  .main-bar .main-logo svg {
    fill: #fff;
    height: 40px;
    width: 120px; }
  .main-bar .user-zone {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
    .main-bar .user-zone span {
      color: #ebebeb;
      margin: 10px; }
    .main-bar .user-zone img {
      border: 2px solid #ebebeb;
      border-radius: 50%;
      width: 40px; }

.dashboard-bar {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  padding: 10px 15px 10px 60px; }
  .dashboard-bar .dashboard-info {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .dashboard-bar .dashboard-info .dashboard-projects {
      font-weight: bold;
      margin-right: 15px; }
    .dashboard-bar .dashboard-info .sort-by {
      margin-left: 10px; }
  .dashboard-bar .dashboard-search {
    cursor: pointer;
    margin-left: 20px; }
    .dashboard-bar .dashboard-search svg {
      fill: #7f7f7f;
      height: 20px;
      width: 20px; }
      .dashboard-bar .dashboard-search svg:hover {
        fill: #5e5e5e; }

.dashboard-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875rem;
  height: 100%;
  padding: 15px 250px 15px 15px; }
  .dashboard-grid .dashboard-grid-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-height: 60vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
    width: 100%; }
    .dashboard-grid .dashboard-grid-content .grid-item {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 5px;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      height: 150px;
      margin: 15px 15px 0 15px;
      padding: 15px;
      position: relative;
      text-align: center;
      width: 20%; }
      .dashboard-grid .dashboard-grid-content .grid-item.add-project {
        border: 2px dashed #b1b1b1;
        box-shadow: inset 0 0 0 transparent;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .dashboard-grid .dashboard-grid-content .grid-item.add-project span {
          background-color: #93e2cb;
          border-radius: 5px;
          color: #fff;
          font-size: 1.5rem;
          padding: 10px 15px; }
        .dashboard-grid .dashboard-grid-content .grid-item.add-project:hover {
          background-color: #93e2cb;
          border: 2px solid #fff; }
          .dashboard-grid .dashboard-grid-content .grid-item.add-project:hover span {
            color: #fff; }
      .dashboard-grid .dashboard-grid-content .grid-item.project-th {
        background-color: #fff;
        border-bottom: 2px solid #d0d0d0; }
        .dashboard-grid .dashboard-grid-content .grid-item.project-th:hover {
          border-color: #78dbbe; }
          .dashboard-grid .dashboard-grid-content .grid-item.project-th:hover h3 {
            color: #78dbbe; }
        .dashboard-grid .dashboard-grid-content .grid-item.project-th h3 {
          color: #5e5e5e;
          font-weight: 400; }
        .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-update {
          color: #b1b1b1; }
        .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          box-sizing: border-box;
          bottom: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          left: 0;
          padding: 10px;
          position: absolute;
          width: 100%; }
          .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions svg {
            fill: #b1b1b1;
            height: 14px;
            margin-right: 5px;
            width: 14px; }
          .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions span {
            color: #b1b1b1; }
          .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions .project-th-icon {
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-right: 10px; }
            .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions .project-th-icon.delete {
              margin-left: auto;
              margin-right: 0; }
              .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions .project-th-icon.delete svg {
                fill: #cf6d5d; }
              .dashboard-grid .dashboard-grid-content .grid-item.project-th .project-th-actions .project-th-icon.delete:hover {
                -webkit-transform: scale(1.4);
                    -ms-transform: scale(1.4);
                        transform: scale(1.4); }

.activity-bar {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px; }
  .activity-bar .activity-bar-inside {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
    padding-top: 70px; }
  .activity-bar h4 {
    color: #7f7f7f;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .activity-bar .date-ribbon {
    background-color: #d0d0d0;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    width: 100%; }
  .activity-bar .activity-input {
    border-bottom: 1px solid #ebebeb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.8125rem;
    padding: 10px; }
    .activity-bar .activity-input img.activity-author {
      border-radius: 50%;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      height: 30px;
      margin-right: 15px;
      width: 30px; }
    .activity-bar .activity-input .activity-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .activity-bar .activity-input .activity-content .activity-project {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        .activity-bar .activity-input .activity-content .activity-project a {
          font-weight: bold;
          margin: 0 3px; }
      .activity-bar .activity-input .activity-content .activity-time {
        color: #b1b1b1;
        font-size: 0.6875rem;
        font-style: italic; }

.lightbox {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .lightbox .lightbox-body {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    position: relative;
    width: 500px; }
    .lightbox .lightbox-body .input-text, .lightbox .lightbox-body .input-select {
      margin: 1rem 0;
      width: 90%; }
    .lightbox .lightbox-body .close {
      position: absolute;
      right: -30px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: -30px; }
      .lightbox .lightbox-body .close svg {
        fill: #fff;
        height: 20px;
        width: 20px; }
        .lightbox .lightbox-body .close svg:hover {
          fill: #cf6d5d; }
